<form>
  Search for a word or title:</br>
  <input type="text" name="searchKeyword">
  <input type="submit">
</form>
<section id="listResults">
  <ul id="results">
  </ul>
</section>
<div id="sortButtons">
  Sort By:
  <button onclick="genreSort()">Genre</button>
  <button onclick="releaseSort()">Date Released</button>
</div>
<section id="sortedResults">
</section>
