<!DOCTYPE html>
<html>
<head>
  <title>RubyGettingStarted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <p> <h1>G<i>RATE</i>MOVIES</h1>
        <%= yield %>
    </p>
  </div>
  <div class="footer">
    <p>*Used OMDB's API*</p>
  </div>
</body>
</html>
